#ac-logger-switch { position: fixed; background: #FF0000; top: 5px; left: 0px; width: 30px; height: 15px; z-index: 1000001; cursor: pointer; }
#ac-logger { position: fixed; top: 0px; left: 0px; z-index: 1000000; font: 9px Tahoma, Geneva, sans-serif; border-bottom: 3px solid black;  height: 60%; width: 80%;   }
#ac-logger div.content { background: #CCC; overflow: auto; width: 100%; height: 100%; }
#ac-logger thead { background: #999; }
#ac-logger table tr { font-family: monospace; font-size: 11px; }
#ac-logger thead tr th { vertical-align: top; white-space: pre; font-weight: bold; text-align: left; }
#ac-logger tbody tr td { vertical-align: top; text-align: left; }
#ac-logger  tr .number { color: #888a85; }
#ac-logger  tr .time { color: #f57900; }
#ac-logger  tr .category { color: #4e9a06; }
#ac-logger  tr .level { color: #3465a4; }
#ac-logger  tr .messag { color: #888a85; }