* { margin: 0px; padding: 0px;}
html { }
body { font: 12px Tahoma, Geneva, sans-serif; }
div { display: block; border: solid #000 0px; }
img { border: 0px; }
a { text-decoration: underline; cursor: pointer; color: #069; border-style: none;}
a:hover { text-decoration: none; cursor: pointer; color: #E80005;}

/* ------------------------------------------------------------------------- */
.clear { clear: both; }
.clear_fix { display: block; }
.clear_fix::after {    visibility: hidden; display: block; font-size: 0; content: "."; clear: both; height: 0;}
.fixed { position: fixed; }
.absolute { position:absolute; }
.fl_l { float: left; }
.fl_r { float: right; }
.ta_r { text-align: right; }
.ta_l { text-align: left; }
.ta_c { text-align: center; }
.ta_j { text-align: justify; }
.bold { font-weight: bold; }
.hidden { display: none; }
.pointer { cursor: pointer; }
.of_h { overflow: hidden; }
.of_ys { overflow-y: scroll; }
.of_a { overflow: auto; }
.m_center { margin: 0px auto; }
.miniblock { padding-top: 3px; }
.mediumblock { padding-top: 7px; }
.bigblock { padding-top: 15px; }
.hrblock { margin: 10px 0px; }
/* ------------------------------------------------------------------------- */

/** LAYOUT */
#wrapper { margin: 0 auto; min-height: 100%; height: auto !important; height: 100%; }
#header { padding: 10px 10px; }
#middle {  padding: 0px 10px 40px 10px; height: 1%;  }
#container { padding: 0 10px; }
#footer { margin: -30px 0 0; padding: 0 10px; height: 30px; line-height: 26px; text-align: right; }

#header {background: white; z-index: 10; }
#header.fixed .filters,
#header.fixed .control_bar {top: 10px; position: relative; }
#header.fixed {position: fixed; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; }
#header.fixed-now {box-shadow: 0 0 4px 2px #999; border-bottom: 1px solid #999; }
/* ------------------------------------------------------------------------- */

/** TOP MENU */
#header ul.menu {background-color: #F0F0F0; border: solid #C6C6C6 1px; padding: 10px 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; margin: 0; border-radius: 6px; }
#header ul.menu > li + li {border-left: 1px solid #C6C6C6; }
#header ul.menu ul,
#header ul.menu li,
#header ul.menu .submenu_title { display: block; float: left; }
#header ul.menu li.submenu { padding-left:0; padding-right:0; overflow: hidden; }
#header ul.menu li,
#header ul.menu .submenu_title { padding: 3px 10px; margin: -3px 0;}
#header ul.menu li.submenu li {padding-left: 0; }
#header ul.menu .submenu_title { font-weight: bold; }
#header ul.menu .submenu_title a { color: #333; }
#header ul.menu li.submenu li.current a { color: #777; text-decoration: none; font-weight:bold; }
#header ul.menu li.submenu li a { text-decoration: underline; }
#header ul.menu li.current a { font-weight:bold; color: #333 }
#header ul.menu a {color:#666666; text-decoration: none; line-height: 28px;}
#header ul.menu li.right {float:right; }

a.header_icon {padding: 12px 0 12px 38px; line-height: 36px; }
a.icon_calls_big {background: url(../images/blackberry_white.png) 2px 70% no-repeat; }
a.icon_reports_big {background: url(../images/database_table.png) 2px 70% no-repeat; }
a.icon_charts_big {background: url(../images/chart_bar.png) 2px 70% no-repeat; }
/* ------------------------------------------------------------------------- */



/** search filters */
.filters { padding-bottom: 5px; }
.filters .filter {    margin-right: 7px; }
.filters .label { padding-top: 3px; padding-bottom: 3px; color: #666666; height: 14px; }
.filters .labeled {}
.filters .but_search input  {margin-left: 10px; margin-top: 19px;}
.filters .sep {    border-left: solid #C6C6C6 1px; padding-left: 5px; }
/* ------------------------------------------------------------------------- */


/* css for timepicker */
input[type="text"].datetimepicker { width: 135px; height: 20px;}
#ui-datepicker-div{ display: none; }
.ui-datepicker-trigger { margin-left: -19px; margin-right: 5px; margin-top: -5px; width: 18px; height: 18px; background: url("../images/date.png") no-repeat 0 100%; border: none; vertical-align: middle; }
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div .ui_tpicker_hour div { padding-right: 2px; }
.ui-timepicker-div .ui_tpicker_minute div { padding-right: 6px; }
.ui-timepicker-div .ui_tpicker_second div { padding-right: 6px; }
.ui-timepicker-div td, .ui-timepicker-div, .ui-datepicker-buttonpane { font-size: 90%; }
.ui-timepicker-div { padding: 0 2px;}
/* ------------------------------------------------------------------------- */

/* pg_pages */
.pg_pages { font: 11px Tahoma, Geneva, sans-serif; }
.pg_in { padding: 2px 5px; }
.pg_lnk { color: #069; text-decoration: none;}
.pg_lnk:hover { text-decoration: none; border-bottom: 1px solid #98ACC0; color: #069;}
.pg_lnk:hover .pg_in { border-bottom: 2px solid #98ACC0; }
.pg_lnk .pg_in { padding: 2px 6px; }
.pg_lnk_sel { color: #069; border-bottom: 1px solid #003; text-decoration: none;}
.pg_lnk_sel:hover { color: #069; text-decoration: none;}
.pg_lnk_sel .pg_in { border-bottom: 2px solid #069; font-weight: bold;}
/* ------------------------------------------------------------------------- */

/* table result */
table.grid { border-collapse: collapse; margin-left: -1px; border-spacing: 0px; empty-cells: show; border: 1px solid #EEE; font-size: 12px; width: 100%; }
table.grid tr { display: table-row; vertical-align: inherit; border-color: inherit; }
table.grid td,
table.grid th { border: 1px solid #EEE; padding: 0 4px; height: 26px; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
table.grid th, table.grid td.head { font-size: 90%; height: 26px; color: #FFF; background-color: #8A8A8A; font-weight: bold; }
table.grid th.sortable { cursor: pointer; }


table.grid tbody tr:hover { background-color: #C6C6C6;}

td.edit_box { padding: 0;}

td.coming_img { padding: 0px;}
td.coming_img div { margin-left: 8px; width: 25px; height: 25px; background: url("../images/coming.png") no-repeat 0 100%;}
td.coming_img div.coming_0{ background-position: 0px 0px; }
td.coming_img div.coming_1{ background-position: -25px 0px; }
td.coming_img div.coming_2{ background-position: -50px 0px; }
/* ------------------------------------------------------------------------- */


#comment_edit {margin: 0; padding: 0; position: absolute; }
#comment_edit .edit_box {font-family: monospace; overflow: hidden; padding: 3px 4px 0px 4px; width: 100%; height: 100%; }
#comment_edit input {font: 12px Tahoma, Geneva, sans-serif; font-family: monospace; overflow: hidden; width: 100%; }

#cplayer {margin: 0; padding: 0; position: absolute; top: 0px; left: 0px; }
.player_button{ width: 16px; height: 16px; cursor: pointer; }
.b_play{ background: url("../images/play.png") no-repeat 0 100%; }
.b_pause{ background: url("../images/pause.png") no-repeat 0 100%; }
.slider { margin-top: 8px; margin-left: 7px; text-align: right; width: 78px; border:1px solid #009be3; background-color:#eee; height: 5px; }
